body {
  color: #333333;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 650px;
  margin: 0 auto;
  padding: 0 16px;

  display: flex;
  flex-direction: column;
  min-height: 100vh;

  background-color: #e0431b;
  background-image: url("https://www.transparenttextures.com/patterns/food.png");
}

#body-content,
#head,
#avail,
#devoured,
#add {
  display: flex;
  flex-direction: column;

  margin: 2.5%;
  padding: auto;

  color: whitesmoke;
  text-shadow: -1px 0 #888888, 0 1px #888888, 1px 0 #888888, 0 -1px #888888;
}

#body-content {
  background-color: rgba(136, 136, 136, 0.9);
  border-radius: 25px;
}
